server:
  port: 3333

app:
  base-url: http://localhost:3333
  hashids:
    min-length: 4
    salt: your-very-secure-and-unique-salt-value-here

spring:
  application:
    name: your-application-name
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password
    url: jdbc:postgresql://localhost:5432/your_database_name
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379